.grid {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
}

.header{
    margin: 1.2rem 1.5rem 1.2rem 1.5rem;
    color: brown;
    display: flex;
    justify-content: space-between;
}
